{% extends "calendar_app/base.html" %}
{% load static %}
{% block title %}Calendar-Today{% endblock %}
{% block link %}<link rel="stylesheet" href="{% static 'calendar_app/css/calendar.css' %}">{% endblock %}
{% block content %}
    <div class="calendar">
        <h2 id="current-month"></h2>
        <table>
            <thead>
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
            </thead>
            <tbody id="calendar-body">
            </tbody>
        </table>
    </div>
    <script src="{% static 'calendar_app/js/calendar.js' %}" defer></script>
{% endblock content %}
