{% extends "calendar_app/base.html" %}
{% load static %}
{% block title %}Tasks{% endblock %}
{% block content %}
    <h2>My Tasks</h2>
        {% for post in posts %}        
            <article class=""media content-section>
                <div class="media-body">
                    <div class="article-metadata" id="task-list">
                    </div>
                <p><a class="article-title" href="{% url 'task-detail' post.id %}">{{ post.task }}</a></p>
                <small class="text-muted">{{ post.date_due|date:"F jS, Y" }}</small>
                </div>
            </article>
        {% endfor %}

    <button class="btn btn-outline-secondary"><a href="{% url 'task-create' %}">Add Task</a></button>

{% endblock content %}